#contenedor{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    background-color: red;    
}

#contenedor div{    
    padding: 1rem;    
    background-color: white;
}

.persona{
    border:1px solid black;    
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.popUp{
    position: absolute;
    top: 15%;
    left: 20%;
    width: 50%;
    padding: 1rem;
    border: 1px solid black;
    background-color: rgb(28, 163, 28);


}


.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

/*flex-direction*/
.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column-reverse{
    flex-direction: column-reverse;
}


/*justify-content*/
.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

/*align-items*/
.stretchA{
    align-items: stretch;
}

.flex-startA{
    align-items: flex-start;
}

.centerA{
    align-items: center;
}

.flex-endA{
    align-items: flex-end;
}
.baselineA{
    align-items: baseline;
}